<meta property="og:locale" content="ru_RU">
<meta property="og:url" content="http://lysenkooo.ru/thailand-self-trip">
<meta property="og:title" content="Покорение Таиланда">
<meta property="og:site_name" content="lysenkooo.ru">
<meta property="og:description" content="Сегодня пост совсем не про ИТ. Сегодня я хочу поделиться с вами лайф-хаками, которые вам помогут сэкономить время и нервы в следующем путешествии, особенно если это будет Таиланд.">
<meta property="og:type" content="article">
<meta property="og:image" content="http://yousales.ru/sites/1/public/uploads/59/IMG_5869_original.JPG">
