<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/highlight.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
      <header>
        <div class="brand">
          <a href="/">Denis Lysenko</a>
        </div>
        <nav class="navbar">
          <ul>
            <li><a href="/about">Обо мне</a></li>
            <li><a href="/">Блог</a></li>
            <li><a href="/cv">Резюме</a></li>
          </ul>
        </nav>
      </header>

      <section class="content">
        {{ content }}
      </section>

      <footer class="copyright">
        © 2012 - 2016 Denis Lysenko
      </footer>
    </div>

    {% include ga.html %}
    {% include metrika.html %}

    <script type="text/javascript">
      (function(w,d,s,u,n,o,e,p){w[n]=o;e=d.createElement(s),e.async=1,e.src=u,p=d.getElementsByTagName(s)[0],
      p.parentNode.insertBefore(e,p)})(window,document,'script','https://w.keroobaru.com/main.js','wgs',{
      t: '0baa65ea529152f5c78e2e06d2261736dbe4da9e9d2d15b202c3046a07233fda', // widget token
      x: '10px', // right margin in px
      y: '50%', // vertical position counts from the bottom
      z: '0.7', //scale factor 0.1 = 10% of size or 2 = 200%
      });
    </script>
  </body>
</html>
