<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/highlight.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
      <header>
        <div class="brand">
          <a href="/">Denis Lysenko</a>
        </div>
        <nav class="navbar">
          <ul>
            <li><a href="/about">Обо мне</a></li>
            <li><a href="/">Блог</a></li>
            <li><a href="/cv">Резюме</a></li>
          </ul>
        </nav>
      </header>

      <section class="content">
        {{ content }}
      </section>

      <footer class="copyright">
        © 2012 - 2016 Denis Lysenko
      </footer>
    </div>

    {% include ga.html %}
    {% include metrika.html %}
  </body>
</html>
